<div style="padding-left: 20%;">
    <h2>Productos</h2>

        <table>
            <tr>
                @if(producto.imgurl){
                     <td colspan="2"><img src="{{producto.imgurl}}" alt="" width="50%" height="50%"></td>

                }@else {
                    <td colspan="2"><img src="/imagen/Nofot.png" alt="" width="50%" height="50%"></td>

                }
            </tr>
            <tr>
                <td>CODIGO</td>
                <td><input type="number" name="" id="" [(ngModel)]="producto.codigo"></td>
            </tr>
            <tr>
                <td>NOMBRE</td>
                <td><input type="text" name="" id="" [(ngModel)]="producto.nombre"></td>
            </tr>
            <tr>
                <td>DESCRIPCION</td>
                <td><input type="text" name="" id="" [(ngModel)]="producto.descripcion"></td>
            </tr>
            <tr>
                <td>EXISTENCIA</td>
                <td><input type="number" name="" id="" [(ngModel)]="producto.existencia"></td>
            </tr>
            <tr>
                <td>PRECIO</td>
                <td><input type="number" name="" id="" [(ngModel)]="producto.precio"></td>
            </tr>

                <tr>
                    <td>FOTO</td>
                    <td><input type="file" name="imagen" id="imagen" accept="image/png, image/jpeg, image/gif" (change)="fotoseleccionada($event)"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="button" value="Guardar" (click)="guardarProducto()">
                        <input type="button" value="Modificar" (click)="modificarProd()">
                        <input type="button" value="Eliminar" (click)="eliminarProd()">
                        <input type="button" value="Ver Lista" (click)="verLista();">
                        <input type="button" value="Modificar Imagen" (click)="modificarImagen();">
                        <input type="button" value=" consultar" (click)="consultarProd();">
                    </td>
                </tr>

        </table>

        <br><br>

<table>
  <thead>
    <tr>
      <th>CODIGO</th>
      <th>NOMBRE</th>
      <th>DESCRIPCION</th>
      <th>EXISTENCIA</th>
      <th>PRECIO</th>
      <th>FOTO</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of productos">
      <td>{{ prod.codigo }}</td>
      <td>{{ prod.nombre }}</td>
      <td>{{ prod.descripcion }}</td>
      <td>{{ prod.existencia }}</td>
      <td>{{ prod.precio }}</td>
      <td><img [src]="prod.imgurl" alt="" height="25%" width="25%"></td>
    </tr>
  </tbody>
</table>

<div *ngIf="productos?.length === 0">
  <span>No hay información que mostrar</span>
</div>



</div>
